@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-background-dark: #0a0a0a;
  --color-foreground-dark: #ededed;
  --color-brand-black: #0a0a0a;
  --color-brand-red: #ff3737;

  --font-family-sans: ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: ui-monospace, "Cascadia Code", monospace;
}
